
.main-button {
    width: 200px;
    background-color: rgb(75, 75, 133);
    font-size: 22px;
    padding: 20px 30px;
    color: white;
    border: none;
    border-radius: 4px;
}

.primary-button {
    background-color: aqua;
}
.secondary-button {
    background-color: rgb(133, 12, 50);
}